# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Load the CSV file from WeatherPy project

cities_file_path = "../output_data/cities_data.csv"

# Import the csv file using pandas
cities_df = pd.read_csv(cities_file_path)

cities_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,0,La Ronge,90,CA,1601601191,61,55.10,-105.28,8.00,1.00
1,1,Jamestown,90,US,1601601193,87,42.10,-79.24,9.44,2.60
2,2,Smithers,40,CA,1601601195,59,54.78,-127.17,19.00,2.10
3,3,Albany,23,US,1601601198,69,42.60,-73.97,12.78,1.81
4,4,Tuktoyaktuk,90,CA,1601601200,100,69.45,-133.04,4.00,5.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [4]:
# Get parameters for gmap
locations = cities_df[["Lat", "Lon"]]
humidity = cities_df["Humidity"].astype(float)

#Plot the heatmap
figure = gmaps.figure(map_type='HYBRID')

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=True, max_intensity=50, point_radius=2.5)

# Add the head layer to the figure
figure.add_layer(heat_layer)

# display figure
figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Create a new df to allow for weather criteria. Max Temp lower than 80 bu thigher than 70
# Wind speed less than 10 mph, zero cloudiness.
# ^^ I've converted these numbers to the metric standard

# Creating new df based off of the orginal
conditions_df = cities_df.copy()
conditions_df = conditions_df[
    (conditions_df['Max Temp'] >= 21.111) & 
    (conditions_df['Max Temp'] <= 26.666) & 
    (conditions_df['Wind Speed'] <= 16.06) & 
    (conditions_df['Cloudiness'] == 0)
]

# Drop nulls and reset index
conditions_df = conditions_df.dropna()
conditions_df = conditions_df.reset_index()

# Drop any additional columns from your data set
conditions_df_drop = conditions_df.drop(['index', 'Unnamed: 0'], axis=1)
conditions_df_drop

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,Rikitea,0,PF,1601601216,79,-23.12,-134.97,23.05,8.44
1,Arraial do Cabo,0,BR,1601601128,85,-22.97,-42.03,23.59,11.53
2,Airai,0,TL,1601601274,50,-8.93,125.41,23.14,2.97
3,Riyadh,0,SA,1601601190,19,24.69,46.72,26.00,2.60
4,Chaozhou,0,CN,1601601339,69,23.67,116.64,26.00,3.00
5,Marzuq,0,YE,1601601379,65,14.40,46.47,22.34,0.10
6,Faanui,0,PF,1601601275,78,-16.48,-151.75,26.06,8.29
7,Sakakah,0,SA,1601601445,17,29.97,40.21,25.00,3.60
8,Castro,0,BR,1601601447,54,-24.79,-50.01,22.11,1.21
9,Netivot,0,IL,1601601515,73,31.42,34.59,23.89,1.33
10,Kiryat Gat,0,IL,1601601520,81,31.61,34.76,23.89,1.69
11,Coromandel,0,BR,1601601585,30,-18.47,-47.20,24.51,2.05
12,Port Lincoln,0,AU,1601601619,41,-34.73,135.87,24.55,10.25
13,Lampazos de Naranjo,0,MX,1601601752,34,27.02,-100.52,24.28,2.81
14,Manono,0,CD,1601601786,86,-7.30,27.42,21.79,0.62
15,Flinders,0,AU,1601601807,44,-34.58,150.86,23.33,1.79
16,Caloundra,0,AU,1601601848,68,-26.80,153.13,25.56,3.13
17,Shenjiamen,0,CN,1601601851,67,29.96,122.30,23.40,3.08
18,Palmares do Sul,0,BR,1601602071,80,-30.26,-50.51,21.44,4.07
19,Mount Gambier,0,AU,1601602068,49,-37.83,140.77,23.00,5.70
20,Ballina,0,AU,1601602132,69,-28.87,153.57,26.11,5.70
21,Makkah al Mukarramah,0,SA,1601602148,41,21.43,39.83,26.33,0.99
22,Nelson Bay,0,AU,1601602157,46,-32.72,152.15,25.00,3.60
23,Fatehgarh,0,IN,1601602258,59,27.37,79.63,25.29,1.40
24,Najrān,0,SA,1601602204,21,17.49,44.13,22.00,0.52
25,Kalabo,0,ZM,1601602345,49,-14.97,22.68,22.34,1.81
26,Jalu,0,LY,1601602355,41,29.03,21.55,24.74,2.82
27,Canyon Lake,0,US,1601602362,44,29.88,-98.26,22.78,0.45
28,Maţāy,0,EG,1601602369,71,28.42,30.78,22.99,4.99
29,Sydney,0,AU,1601602261,23,-33.87,151.21,24.00,7.20

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create a dataframe with the columns that will be used for the project / add an additonal column for the hotel names

# Creating new df with empty Hotel Name column
hotel_df = pd.DataFrame(conditions_df_drop, columns=["City", "Country", "Lat", "Lon", "Hotel Name"])

hotel_df

                    City Country    Lat     Lon  Hotel Name
0                Rikitea      PF -23.12 -134.97         NaN
1        Arraial do Cabo      BR -22.97  -42.03         NaN
2                  Airai      TL  -8.93  125.41         NaN
3                 Riyadh      SA  24.69   46.72         NaN
4               Chaozhou      CN  23.67  116.64         NaN
5                 Marzuq      YE  14.40   46.47         NaN
6                 Faanui      PF -16.48 -151.75         NaN
7                Sakakah      SA  29.97   40.21         NaN
8                 Castro      BR -24.79  -50.01         NaN
9                Netivot      IL  31.42   34.59         NaN
10            Kiryat Gat      IL  31.61   34.76         NaN
11            Coromandel      BR -18.47  -47.20         NaN
12          Port Lincoln      AU -34.73  135.87         NaN
13   Lampazos de Naranjo      MX  27.02 -100.52         NaN
14                Manono      CD  -7.30   27.42         NaN
15              Flinders      AU -34.58  150.86         NaN
16             Caloundra      AU -26.80  153.13         NaN
17            Shenjiamen      CN  29.96  122.30         NaN
18       Palmares do Sul      BR -30.26  -50.51         NaN
19         Mount Gambier      AU -37.83  140.77         NaN
20               Ballina      AU -28.87  153.57         NaN
21  Makkah al Mukarramah      SA  21.43   39.83         NaN
22            Nelson Bay      AU -32.72  152.15         NaN
23             Fatehgarh      IN  27.37   79.63         NaN
24                Najrān      SA  17.49   44.13         NaN
25                Kalabo      ZM -14.97   22.68         NaN
26                  Jalu      LY  29.03   21.55         NaN
27           Canyon Lake      US  29.88  -98.26         NaN
28                 Maţāy      EG  28.42   30.78         NaN
29                Sydney      AU -33.87  151.21         NaN

In [7]:
# Params dictionary for the requests
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# Iterate each row
for index, row in hotel_df.iterrows():
    # Get lat, lng for each row
    lat = row["Lat"]
    lng = row["Lon"]

    # Add 'location' to params
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request
    name_address = requests.get(base_url, params=params)
    
    # Convert to json
    name_address = name_address.json()
    
    # Try update df hotel name. Go on otherwise <--- will leave value as NaN
    try:
        hotel_df.iloc[index, 4] = name_address['results'][0]['name']
    except IndexError:
        continue
        

hotel_df

,City,Country,Lat,Lon,Hotel Name
0,Rikitea,PF,-23.12,-134.97,Pension Maro'i
1,Arraial do Cabo,BR,-22.97,-42.03,Loft Praia Grande
2,Airai,TL,-8.93,125.41,NaN
3,Riyadh,SA,24.69,46.72,Novotel Riyadh Al Anoud
4,Chaozhou,CN,23.67,116.64,Venice Hotel Chaozhou
5,Marzuq,YE,14.40,46.47,NaN
6,Faanui,PF,-16.48,-151.75,InterContinental Bora Bora Resort Thalasso Spa
7,Sakakah,SA,29.97,40.21,Raoum Inn Hotel
8,Castro,BR,-24.79,-50.01,Central Palace Hotel - Castro (PR)
9,Netivot,IL,31.42,34.59,NaN
10,Kiryat Gat,IL,31.61,34.76,NaN
11,Coromandel,BR,-18.47,-47.20,Diamante Rosa Palace Hotel
12,Port Lincoln,AU,-34.73,135.87,The Grand Tasman Hotel
13,Lampazos de Naranjo,MX,27.02,-100.52,Hotel Posada Lampazos
14,Manono,CD,-7.30,27.42,Hotel hewa bora
15,Flinders,AU,-34.58,150.86,Eternity 141
16,Caloundra,AU,-26.80,153.13,Ocean Views Resort
17,Shenjiamen,CN,29.96,122.30,Hilton Zhoushan
18,Palmares do Sul,BR,-30.26,-50.51,Hotel Campos Dourados.
19,Mount Gambier,AU,-37.83,140.77,Commodore on the Park
20,Ballina,AU,-28.87,153.57,Ramada Hotel & Suites by Wyndham Ballina Byron
21,Makkah al Mukarramah,SA,21.43,39.83,Elaf Al Salam Hotel
22,Nelson Bay,AU,-32.72,152.15,Amarna Luxury Beach Resort - Guest Only
23,Fatehgarh,IN,27.37,79.63,Hotel Hindustan
24,Najrān,SA,17.49,44.13,NaN
25,Kalabo,ZM,-14.97,22.68,HM Sams Lodge
26,Jalu,LY,29.03,21.55,Jalu Hotel
27,Canyon Lake,US,29.88,-98.26,SKYHOUSE Canyon Lake
28,Maţāy,EG,28.42,30.78,Barista
29,Sydney,AU,-33.87,151.21,Vibe Hotel Sydney Darling Harbour

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [9]:
# Add marker layer ontop of heat map

# Setup new figure
fig = gmaps.figure()

# Create marker layer
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add marker layer
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))